*{
margin: 0;

padding: 0;

box-sizing: border-box;
}

html {
height: 100%;
}
body {
min-height: 100%;
}

.page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding:  0 3vw;
    padding-top: 9vw;
}

.page1 h1{
    font-size: 14.5vw;
    font-family: futura;
    line-height: 15vw ;
    text-transform: uppercase;

}

.video_container{
    height: 100vh;
    width: 100%;
    background-color: gray;
    margin-top: 1vw;
    position: relative;
}

.video_container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
